{% include lottie.html %}
<!-- Section: What Do I Offer -->
<section class="backlight-bottom">
    <!-- Section Title -->
    <div class="stg-row pmbsweb-section-title">
        <div class="stg-col-8 stg-offset-2">
            <div class="align-center">
                <h2 data-appear="fade-up" data-unload="fade-up">What do I Offer</h2>
                <p class="pmbsweb-large-text" data-appear="fade-up" data-unload="fade-up" data-delay="100">Unleashing the full spectrum of magic.</p>
            </div>
        </div>
    </div>
    <!-- Services Grid -->
    <div class="pmbsweb-grid-3cols pmbsweb-tp-grid-2cols" data-stagger-appear="fade-up" data-delay="100" data-stagger-delay="100" data-unload="fade-up">
        <!-- Item 01 -->
        <div class="pmbsweb-block stg-aspect-square stg-vertical-space-between">
            <h5>Branding<span class="pmbsweb-accent">.</span></h5>
            <p>Weave visual stories and craft strategic messaging that resonate at heartstrings, build unwavering trust, and turn customers into fervent brand champions.</p>
        </div>
        <!-- Item 02 -->
        <div class="pmbsweb-block stg-aspect-square stg-vertical-space-between">
            <h5>Marketing<span class="pmbsweb-accent">.</span></h5>
            <p>Design data-driven campaigns that crackle with energy, ignite like wildfire, and turn clicks into conversions, like the storm that propels your brand.</p>
        </div>
        <!-- Item 03 -->
        <div class="pmbsweb-block stg-aspect-square stg-vertical-space-between">
            <h5>Graphic Design<span class="pmbsweb-accent">.</span></h5>
            <p>Craft visual masterpieces that sing your brand's story in vibrant colors and captivating shapes. From logos that lodge in minds to images that make ideas sing.</p>
        </div>
        <!-- Item 04 -->
        <div class="pmbsweb-block stg-aspect-square stg-vertical-space-between">
            <h5>Web Design<span class="pmbsweb-accent">.</span></h5>
            <p>Sculpt user-friendly websites that convert visitors into loyal devotees, seamlessly blending stunning aesthetics with intuitive navigation and experiences.</p>
        </div>
        <!-- Item 05 -->
        <div class="pmbsweb-block stg-aspect-square stg-vertical-space-between">
            <h5>Content Creation<span class="pmbsweb-accent">.</span></h5>
            <p>Weave compelling narratives into blog posts, website copy, and social media content that resonate with your audience like a well-loved symphony.</p>
        </div>
        <!-- Item 06 -->
        <div class="pmbsweb-masked-block pmbsweb-grid-more-masked">
            <div class="pmbsweb-block stg-aspect-square stg-vertical-space-between is-accented pmbsweb-masked-media">
                <h5>Explore All Services<span class="pmbsweb-accent">.</span></h5>
                <p>I offer a wide range of creative services to help businesses of all sizes achieve their goals.</p>
            </div>
            <div class="pmbsweb-masked-content at-bottom-right">
                <span class="pmbsweb-square-button is-secondary">
                    <span class="pmbsweb-icon pmbsweb-icon-explore"></span>
                </span>
            </div>
            <a href="services.html"></a>
        </div>
    </div>
</section>