<!-- Section: Page Title -->
<section>
    <div class="pmbsweb-bento-grid">
        <div class="is-medium pmbsweb-block stg-vertical-space-between" data-appear="fade-right" data-unload="fade-left">
            <div class="pmbsweb-title-with-label stg-bottom-gap">
                <span class="pmbsweb-label">Who am I? I am</span>
                <h2>{{ .Site.Params.name }}<span class="pmbsweb-accent">,</span></h2>
            </div>
            <p class="pmbsweb-large-text-somewhat1">A {{ .Site.Params.jobs }} from {{ .Site.Params.local }}<span class="pmbsweb-accent">.</span></p>
        </div>
        <div class="is-small" data-appear="zoom-out" data-delay="100" data-unload="zoom-out">
            <a href="../assets/img/private/pm_front_03.webp" class="pmbsweb-lightbox-link" data-size="1200x1200">
            <img class="pmbsweb-lazy" src="img/null.png" data-src="../assets/img/private/pm_front_03.webp" alt="Portfolio" width="1200" height="1200"></a>
        </div>
        <div class="is-small pmbsweb-masked-block" data-appear="zoom-out" data-delay="200" data-unload="zoom-out">
            <div class="pmbsweb-bento-hero-media pmbsweb-masked-media">
                <a href="../assets/img/private/pm_front_01.webp" class="pmbsweb-lightbox-link" data-size="1200x1200">
                <img class="pmbsweb-lazy" src="img/null.png" data-src="../assets/img/private/pm_front_01.webp" alt="Portfolio" width="1200" height="1200"></a>
            </div>
            <div class="pmbsweb-masked-content at-bottom-right">
                <a href="/timeline/" class="pmbsweb-square-button">
                    <span class="pmbsweb-icon pmbsweb-icon-explore"></span>
                </a>
            </div>
        </div>
        <div class="is-large" data-appear="fade-left" data-delay="200" data-unload="fade-right">
            <a href="../assets/img/private/pm_front_02.webp" class="pmbsweb-lightbox-link" data-size="1200x1200">
            <img class="pmbsweb-lazy" src="img/null.png" data-src="../assets/img/private/pm_front_02.webp" alt="PM Photo" width="1200" height="1200"></a>
        </div>
    </div>
</section>