<!-- Section: Testimonials -->
<section data-padding="top">
    <!-- Section Title -->
    <div class="stg-row pmbsweb-section-title">
        <div class="stg-col-8 stg-offset-2">
            <div class="align-center">
                <h2 data-appear="fade-up" data-unload="fade-up">What People Say</h2>
                <p class="pmbsweb-large-text" data-appear="fade-up" data-delay="100" data-unload="fade-up">Read what my clients have to say about my work.</p>
            </div>
        </div>
    </div>
    <!-- Testimonials -->
    <div class="stg-row">
        <div class="stg-col-6 stg-tp-col-8 stg-tp-offset-2 stg-tp-bottom-gap" data-unload="fade-left" data-delay="150">
            <div class="pmbsweb-parallax-media" data-appear="fade-right" data-threshold="0">
                <img class="pmbsweb-lazy" src="img/null.png" data-src="img/home/testimonials02.jpg" alt="What Our Clients Say" width="850" height="1200">
            </div>
        </div>
        <div class="stg-col-6" data-unload="fade-right" data-delay="150">
            <div class="pmbsweb-grid-1col stg-normal-gap">
                <!-- Card Item -->
                <div class="pmbsweb-block pmbsweb-tetimonials-card" data-appear="fade-left" data-delay="0">
                    <div class="pmbsweb-tetimonials-card-descr">
                        "Before working with Pmbsweb, our brand felt lost in the crowd. They not only gave us a stunning logo and website, but they also crafted a brand story that resonated with our customers. Now, we're seeing a surge in loyalty and engagement, and it all started with a spark!"
                    </div>
                    <div class="pmbsweb-tetimonials-card-footer">
                        <div class="pmbsweb-tetimonials-card-name">
                            <h6>Sarah Janson</h6>
                            <span class="pmbsweb-meta">CEO of Bloom Eco-Spa</span>
                        </div>
                        <div class="pmbsweb-tetimonials-card-rate">
                            <span class="pmbsweb-tetimonials-stars5"></span>
                        </div>
                    </div>
                </div><!-- .pmbsweb-tetimonials-card -->

                <!-- Card Item -->
                <div class="pmbsweb-block pmbsweb-tetimonials-card" data-appear="fade-left" data-delay="50">
                    <div class="pmbsweb-tetimonials-card-descr">
                        "We knew we needed a digital boost, but we had no idea where to start. Pmbsweb came in like a team of data-driven superheroes! They built targeted campaigns that reached our ideal audience, and the results were incredible. Our leads skyrocketed, and our conversion rates doubled. They truly understand the power of digital!"
                    </div>
                    <div class="pmbsweb-tetimonials-card-footer">
                        <div class="pmbsweb-tetimonials-card-name">
                            <h6>Michael Kaper</h6>
                            <span class="pmbsweb-meta">VP of Marketing, Tech Inc.</span>
                        </div>
                        <div class="pmbsweb-tetimonials-card-rate">
                            <span class="pmbsweb-tetimonials-stars5"></span>
                        </div>
                    </div>
                </div><!-- .pmbsweb-tetimonials-card -->

                <!-- Card Item -->
                <div class="pmbsweb-block pmbsweb-tetimonials-card" data-appear="fade-left" data-delay="100">
                    <div class="pmbsweb-tetimonials-card-descr">
                        "Words cannot express how pleased we are with the visuals Pmbsweb created for our brand. From the captivating infographics to the social media graphics that pop off the screen, they've injected an emotional punch into our communication that resonates deeply with our audience. Now, every visual tells our story with stunning clarity."
                    </div>
                    <div class="pmbsweb-tetimonials-card-footer">
                        <div class="pmbsweb-tetimonials-card-name">
                            <h6>Anna Larson</h6>
                            <span class="pmbsweb-meta">Founder of StoryCraft Books</span>
                        </div>
                        <div class="pmbsweb-tetimonials-card-rate">
                            <span class="pmbsweb-tetimonials-stars4"></span>
                        </div>
                    </div>
                </div><!-- .pmbsweb-tetimonials-card -->
                
                <!-- Learn More -->
                <div class="align-right">
                    <a href="testimonials.html" class="pmbsweb-arrow-link">Read all testimonials</a>
                </div>
            </div><!-- .pmbsweb-grid -->
        </div>
    </div>
</section>