<!-- Section: About Me -->
<section class="backlight-top divider-bottom">
    <div class="stg-row stg-large-gap stg-m-normal-gap">
        <div class="stg-col-6 stg-tp-bottom-gap-l stg-m-bottom-gap" data-appear="fade-right" data-unload="fade-left">
            <div class="pmbsweb-parallax-media">
                <a href="../assets\img\private\IMG20240720131202.webp" class="pmbsweb-lightbox-link" data-size="1200x1650">
                <img class="pmbsweb-lazy" src="img/null.png" data-src="../assets\img\private\IMG20240720131202.webp" alt="About Me" width="1200" height="1650"></a>
            </div>
        </div>
        <div class="stg-col-6 stg-vertical-space-between" data-appear="fade-left" data-unload="fade-right">
            <div>
                <h2>{{ .Site.Params.slogan }}</h2>
                <p>Imagination is the spark that ignites my creativity, driving me to explore uncharted territories and craft exceptional experiences. Every project is a bold adventure in creativity, where infinite imagination meets technical mastery. As a {{ site.jobs }}, I blend artistic flair with analytical precision to craft experiences that captivate and inspire. The Draughtsman in me brings measured accuracy, while the engineering student constantly pushes boundaries with perspectives and innovative approaches.</p>
                <p>My creative universe exists at this unique intersection - where mathematical precision meets artistic intution. It's magical alchemy where technical constraints don't limit imagination but rather focus it like a lens, concentrating creative energy into solutions that seem impossible until they exists. This is my Superpower: transforming infinity imagination into tangible creations that connect, commuincate, and inspire.</p>
                <p>My engineering background sharpens my problem-solving edge, transforming complex challenges into opportunities for breakthrough ideas. With a relentless drive to push boundaries, I believe that every concept holds the power to revolutionize the ordinary - turning imagination into vibrant reality. <a href="#">Let's build something extraodinary together.</a></p>
            </div>
            <a href="/portfolio/" class="pmbsweb-icon-link">
                <div class="pmbsweb-icon-wrap">
                    <i class="pmbsweb-icon pmbsweb-icon-explore"></i>
                </div>
                <div class="pmbsweb-icon-link-content">
                    <h6>
                        Moments that Unleash my
                        <br>
                        Creative desire
                    </h6>
                    <span class="pmbsweb-label">Explore My Portfolio</span>
                </div>
            </a><!-- .pmbsweb-icon-link -->
        </div>
    </div>
</section>