<!-- Section: blog Carousel -->
<section class="is-fullwidth is-stretched">
    <!-- Section Title -->
    <div class="stg-row pmbsweb-section-title is-boxed">
        <div class="stg-col-8 stg-offset-2">
            <div class="align-center">
                <h2 data-appear="fade-up" data-unload="fade-up">Our Work</h2>
                <p class="pmbsweb-large-text" data-appear="fade-up" data-unload="fade-up" data-delay="100">
                    We are proud of our work, and we are always looking for new challenges. Take a look at
                    some of our recent portfolio:
                </p>
            </div>
        </div>
    </div>
    <!-- Blog Carousel -->
    <div class="swiper pmbsweb-carousel stg-bottom-gap-l" data-appear="fade-up" data-unload="fade-up"
        data-delay="200" data-count="4" data-m-count="1.5">
        <div class="swiper-wrapper">
            <!-- Card Item 01 -->
            <div class="pmbsweb-block pmbsweb-portfolio-card swiper-slide">
                <div class="pmbsweb-portfolio-card-image">
                    <img class="pmbsweb-lazy" src="img/null.png" data-src="img/portfolio/portfolio01.jpg"
                        alt="" width="1200" height="1200">
                </div>
                <div class="pmbsweb-portfolio-card-footer">
                    <div class="pmbsweb-portfolio-card-title">
                        <span class="pmbsweb-meta">Branding</span>
                        <h6>Curology</h6>
                    </div>
                    <span class="pmbsweb-icon pmbsweb-icon-explore"></span>
                </div>
                <a href="portfolio-post01.html"></a>
            </div><!-- .pmbsweb-portfolio-card -->
            <!-- Card Item 02 -->
            <div class="pmbsweb-block pmbsweb-portfolio-card swiper-slide">
                <div class="pmbsweb-portfolio-card-image">
                    <img class="pmbsweb-lazy" src="img/null.png" data-src="img/portfolio/portfolio02.jpg"
                        alt="" width="1200" height="1200">
                </div>
                <div class="pmbsweb-portfolio-card-footer">
                    <div class="pmbsweb-portfolio-card-title">
                        <span class="pmbsweb-meta">Advertising</span>
                        <h6>Cookie Dough</h6>
                    </div>
                    <span class="pmbsweb-icon pmbsweb-icon-explore"></span>
                </div>
                <a href="portfolio-post02.html"></a>
            </div><!-- .pmbsweb-portfolio-card -->
            <!-- Card Item 03 -->
            <div class="pmbsweb-block pmbsweb-portfolio-card swiper-slide">
                <div class="pmbsweb-portfolio-card-image">
                    <img class="pmbsweb-lazy" src="img/null.png" data-src="img/portfolio/portfolio03.jpg"
                        alt="" width="1200" height="1200">
                </div>
                <div class="pmbsweb-portfolio-card-footer">
                    <div class="pmbsweb-portfolio-card-title">
                        <span class="pmbsweb-meta">Marketing</span>
                        <h6>Gaming Power</h6>
                    </div>
                    <span class="pmbsweb-icon pmbsweb-icon-explore"></span>
                </div>
                <a href="portfolio-post03.html"></a>
            </div><!-- .pmbsweb-portfolio-card -->
            <!-- Card Item 04 -->
            <div class="pmbsweb-block pmbsweb-portfolio-card swiper-slide">
                <div class="pmbsweb-portfolio-card-image">
                    <img class="pmbsweb-lazy" src="img/null.png" data-src="img/portfolio/portfolio04.jpg"
                        alt="" width="1200" height="1200">
                </div>
                <div class="pmbsweb-portfolio-card-footer">
                    <div class="pmbsweb-portfolio-card-title">
                        <span class="pmbsweb-meta">Advertising</span>
                        <h6>Riot Energy</h6>
                    </div>
                    <span class="pmbsweb-icon pmbsweb-icon-explore"></span>
                </div>
                <a href="portfolio-post04.html"></a>
            </div><!-- .pmbsweb-portfolio-card -->
            <!-- Card Item 05 -->
            <div class="pmbsweb-block pmbsweb-portfolio-card swiper-slide">
                <div class="pmbsweb-portfolio-card-image">
                    <img class="pmbsweb-lazy" src="img/null.png" data-src="img/portfolio/portfolio05.jpg"
                        alt="" width="1200" height="1200">
                </div>
                <div class="pmbsweb-portfolio-card-footer">
                    <div class="pmbsweb-portfolio-card-title">
                        <span class="pmbsweb-meta">Marketing</span>
                        <h6>Smoothie</h6>
                    </div>
                    <span class="pmbsweb-icon pmbsweb-icon-explore"></span>
                </div>
                <a href="portfolio-post05.html"></a>
            </div><!-- .pmbsweb-portfolio-card -->
            <!-- Card Item 06 -->
            <div class="pmbsweb-block pmbsweb-portfolio-card swiper-slide">
                <div class="pmbsweb-portfolio-card-image">
                    <img class="pmbsweb-lazy" src="img/null.png" data-src="img/portfolio/portfolio06.jpg"
                        alt="" width="1200" height="1200">
                </div>
                <div class="pmbsweb-portfolio-card-footer">
                    <div class="pmbsweb-portfolio-card-title">
                        <span class="pmbsweb-meta">Branding</span>
                        <h6>Positive Beverage</h6>
                    </div>
                    <span class="pmbsweb-icon pmbsweb-icon-explore"></span>
                </div>
                <a href="portfolio-post06.html"></a>
            </div><!-- .pmbsweb-portfolio-card -->
            <!-- Card Item 07 -->
            <div class="pmbsweb-block pmbsweb-portfolio-card swiper-slide">
                <div class="pmbsweb-portfolio-card-image">
                    <img class="pmbsweb-lazy" src="img/null.png" data-src="img/portfolio/portfolio07.jpg"
                        alt="" width="1200" height="1200">
                </div>
                <div class="pmbsweb-portfolio-card-footer">
                    <div class="pmbsweb-portfolio-card-title">
                        <span class="pmbsweb-meta">Branding</span>
                        <h6>Fashion Makeup</h6>
                    </div>
                    <span class="pmbsweb-icon pmbsweb-icon-explore"></span>
                </div>
                <a href="portfolio-post07.html"></a>
            </div><!-- .pmbsweb-portfolio-card -->
        </div>
        <!-- Pagination -->
        <div class="swiper-pagination pmbsweb-dots"></div>
    </div><!-- .pmbsweb-portfolio-carousel -->
    <div class="align-center" data-appear="fade-up" data-unload="fade-up" data-delay="100">
        <a href="portfolio-slider.html" class="pmbsweb-button">Discover Full Portfolio</a>
    </div>
</section>