<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />

<title>{{ if .Title }}{{ .Title }} | {{ end }}{{ .Site.Title }}</title>

<meta content="{{ .Site.Params.name }}" name="Author" />
<meta content="{{ .Site.Title }}'s Blogfolio" name="application-name" />
<meta name="twitter:site" content="@prasadmadhuran1" />
<meta name="twitter:creator" content="@prasadmadhuran1" />
<meta name="twitter:card" content="{{ .Site.Title }}'s Blogfolio" />
<meta name="og:locale" content="en_US" />
<meta property="og:type" content="website" />

<meta property="og:image" content="https://api.microlink.io/?url={{ .Permalink | absURL }}&overlay.browser=dark&overlay.background=linear-gradient%28225deg%2C+%23FF057C+0%25%2C+%238D0B93+50%25%2C+%23321575+100%25%29&screenshot=true&embed=screenshot.url"/>
<meta property="og:url" content="{{ .Permalink | absURL }}" />

<meta name="license" content="CREATIVE COMMON License" />
<meta name="robots" content="index,follow" />
<meta name="theme-color" content="#2196f3" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<link rel="manifest" href="{{ "manifest.json" | relURL }}" />

<!-- Process CSS -->
{{ $config := resources.Get "css/config.css" | resources.Minify | resources.Fingerprint "sha512" }}
<link rel="stylesheet" href="{{ $config.Permalink }}" integrity="{{ $config.Data.Integrity }}" crossorigin="anonymous">

{{ $libs := resources.Get "css/libs.css" | resources.Minify | resources.Fingerprint "sha512" }}
<link rel="stylesheet" href="{{ $libs.Permalink }}" integrity="{{ $libs.Data.Integrity }}" crossorigin="anonymous">

{{ $style := resources.Get "scss/style.scss" | resources.ToCSS | resources.Minify | resources.Fingerprint "sha512" }}
<link rel="stylesheet" href="{{ $style.Permalink }}" integrity="{{ $style.Data.Integrity }}" crossorigin="anonymous">

{{ $responsive := resources.Get "css/responsive.css" | resources.Minify | resources.Fingerprint "sha512" }}
<link rel="stylesheet" href="{{ $responsive.Permalink }}" integrity="{{ $responsive.Data.Integrity }}" crossorigin="anonymous">

{{ $customConfig := resources.Get "css/custom-config.css" | resources.Minify | resources.Fingerprint "sha512" }}
<link rel="stylesheet" href="{{ $customConfig.Permalink }}" integrity="{{ $customConfig.Data.Integrity }}" crossorigin="anonymous" type="text/css" />

<!-- Font Awesome -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/aquawolf04/font-awesome-pro@5cd1511/css/all.min.css" />

<!-- Favicon -->
<link rel="icon" href="{{ "img/favicon.png" | relURL }}" sizes="32x32">

{{ $description := "" }}
{{ if .Description }}
  {{ $description = .Description }}
{{ else if .Summary }}
  {{ $description = .Summary }}
{{ else if .Site.Params.description }}
  {{ $description = .Site.Params.description }}
{{ end }}
<meta name="description" content="{{ $description }}">

<script>
    if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register("{{ "js/service.worker.js" | relURL }}", { scope: '/js/' });
    }
</script>

<!-- JS Scripts -->
<script src="{{ "js/lib/jquery.min.js" | relURL }}"></script>
{{ $libsJs := resources.Get "js/lib/libs.js" | js.Build | minify | resources.Fingerprint "sha512" }}
<script src="{{ $libsJs.Permalink }}" integrity="{{ $libsJs.Data.Integrity }}" crossorigin="anonymous" defer></script>

{{ $stCoreJs := resources.Get "js/st-core.js" | js.Build | minify | resources.Fingerprint "sha512" }}
<script src="{{ $stCoreJs.Permalink }}" integrity="{{ $stCoreJs.Data.Integrity }}" crossorigin="anonymous" defer></script>

{{ $classesJs := resources.Get "js/classes.js" | js.Build | minify | resources.Fingerprint "sha512" }}
<script src="{{ $classesJs.Permalink }}" integrity="{{ $classesJs.Data.Integrity }}" crossorigin="anonymous" defer></script>

{{ $mainJs := resources.Get "js/main.js" | js.Build | minify | resources.Fingerprint "sha512" }}
<script src="{{ $mainJs.Permalink }}" integrity="{{ $mainJs.Data.Integrity }}" crossorigin="anonymous" defer></script>

{{ $customConfigJs := resources.Get "js/custom-config.js" | js.Build | minify | resources.Fingerprint "sha512" }}
<script src="{{ $customConfigJs.Permalink }}" integrity="{{ $customConfigJs.Data.Integrity }}" crossorigin="anonymous" defer></script>