<!-- Hero Section -->
<section>
    <div class="pmbsweb-hero-block pmbsweb-hero-type01">
        <!-- Main Line -->
        <div class="stg-row stg-bottom-gap-l stg-m-bottom-gap-l">
            <div class="stg-col-9 stg-tp-col-8 stg-m-col-12">
                <!-- Title -->
                <h1 class="pmbsweb-page-title" data-split-appear="fade-up" data-split-unload="fade-up">
                    {{ site.slogan }}<span class="pmbsweb-accent">.</span>
                </h1>
            </div>
            <div class="stg-col-3 stg-tp-col-4 stg-m-col-12">
                <!-- Social Proof -->
                <div class="pmbsweb-hero-social-proof">
                    <div data-stagger-appear="fade-up" data-stagger-delay="100" data-stagger-unload="fade-up">
                        <img src="assets/img/media/medium_512px.webp" style="background-color: aliceblue;"
                            alt="Medium Profile">
                        <img src="assets/img/media/telegram_app_512px.webp" style="background-color: antiquewhite;"
                            alt="Telegram Channel">
                        <img src="assets/img/media/linkedin_circled_512px.webp" style="background-color: azure;"
                            alt="LinkedIn Profile">
                        <a href="testimonials.html">10K+</a>
                    </div>
                    <p data-appear="fade-up" data-unload="fade-up" data-delay="200">
                        10K+ Views on Social
                        Media
                    </p>
                </div>
            </div>
        </div><!-- .stg-row -->
        <!-- Masked Media Container -->
        <div class="pmbsweb-hero-media-wrap pmbsweb-masked-bottom-right pmbsweb-masked-block stg-bottom-gap-l"
            data-appear="zoom-out" data-unload="zoom-out">
            <div class="pmbsweb-hero-media pmbsweb-masked-media" data-appear="zoom-in" data-unload="zoom-out"
                data-delay="150" data-threshold="0">
                {{ partial "lottie.html" . }}
                <lottie-player src="../assets/json/Simple-Dot-%5Bremix%5D.json" background="transparent"
                    style="width: 100%;" speed="1" loop autoplay></lottie-player>
            </div>
            <!-- Content -->
            <div class="pmbsweb-masked-content at-bottom-right">
                <a href="#blogC1" class="pmbsweb-square-button" data-appear="fade-left">
                    <span class="pmbsweb-icon pmbsweb-icon-arrow-down"></span>
                </a>
            </div>
        </div>
        <!-- Partners Section -->
        <div class="pmbsweb-partners">
            <span class="pmbsweb-label" data-appear="fade-up" data-unload="fade-up">
                Industrial Standard Blog Features
            </span>
            <div class="pmbsweb-grid-6cols pmbsweb-tp-grid-3cols pmbsweb-m-grid-2cols stg-top-gap-s"
                data-stagger-appear="fade-up" data-stagger-unload="fade-up" data-stagger-delay="100" data-delay="100">
                <div class="pmbsweb-block">
                    <!-- <img src="img/partners/partner01.png" alt="Partner Logo"> -->
                    <dotlottie-wc src="../assets/json/lottie/cool.lottie" autoplay loop></dotlottie-wc>
                </div>
                <div class="pmbsweb-block">
                    <!-- <img src="img/partners/partner02.png" alt="Partner Logo"> -->
                    <dotlottie-wc src="../assets/json/lottie/files.lottie" autoplay loop></dotlottie-wc>
                </div>
                <div class="pmbsweb-block">
                    <!-- <img src="img/partners/partner03.png" alt="Partner Logo"> -->
                    <dotlottie-wc src="../assets/json/lottie/free.lottie" autoplay loop></dotlottie-wc>
                </div>
                <div class="pmbsweb-block">
                    <!-- <img src="img/partners/partner04.png" alt="Partner Logo"> -->
                    <dotlottie-wc src="../assets/json/lottie/new.lottie" autoplay loop></dotlottie-wc>
                </div>
                <div class="pmbsweb-block">
                    <!-- <img src="img/partners/partner05.png" alt="Partner Logo"> -->
                    <dotlottie-wc src="../assets/json/lottie/rocket.lottie" autoplay loop></dotlottie-wc>
                </div>
                <div class="pmbsweb-block">
                    <!-- <img src="img/partners/partner06.png" alt="Partner Logo"> -->
                    <dotlottie-wc src="../assets/json/lottie/diamond.lottie" autoplay loop></dotlottie-wc>
                </div>
            </div>
        </div>
        <br /><br />

        <!-- Additional Information Line -->
        <div class="stg-row stg-valign-bottom">
            <div class="stg-col-3 stg-tp-col-3 stg-m-col-6" data-appear="fade-up" data-delay="200"
                data-unload="fade-up">
                <div class="pmbsweb-counter pmbsweb-small-counter" data-delay="3000">
                    <div class="pmbsweb-counter-number" data-suffix="+">{{ len .Site.RegularPages }}</div>
                    <div class="pmbsweb-counter-label">Total Blog Posts</div>
                </div><!-- .pmbsweb-counter -->
            </div>
            <div class="stg-col-3 stg-tp-col-3 stg-m-col-6" data-appear="fade-up" data-delay="300"
                data-unload="fade-up">
                <div class="pmbsweb-counter pmbsweb-small-counter" data-delay="3000">
                    <div class="pmbsweb-counter-number" data-suffix="+">{{ len .Site.Data.portfolio }}</div>
                    <div class="pmbsweb-counter-label">Completed Projects</div>
                </div><!-- .pmbsweb-counter -->
            </div>
            <div class="stg-col-6 stg-tp-col-6 stg-m-col-12 stg-m-top-gap" data-appear="fade-up" data-delay="400"
                data-unload="fade-up">
                <p class="pmbsweb-large-text">
                    Currently Reading BSc(Hons) in Engineering, Specialized in Mechatronics Engineering at <a href="https://ousl.lk">The Open University of Sri Lanka.</a> 
                </p>
            </div>
        </div><!-- .stg-row -->
    </div><!-- .pmbsweb-hero-block -->
</section>