<!-- Section: Marquee -->
<section class="is-fullwidth is-stretched" data-padding="none">
    <div class="pmbsweb-marquee" data-speed="15000" data-appear="fade-up" data-delay="300"
        data-unload="fade-up">
        <div class="pmbsweb-marquee-inner">
            <ul class="pmbsweb-marquee-list">
                <li>
                    <h2>Mechanical Engineering</h2>
                </li>
                <li>
                    <h2>Mechatronics</h2>
                </li>
                <li>
                    <h2>Automotive Technology</h2>
                </li>
                <li>
                    <h2>Web Design</h2>
                </li>
                <li>
                    <h2>3D Designing</h2>
                </li>
                <li>
                    <h2>AutoCAD®</h2>
                </li>
                <li>
                    <h2>Blender</h2>
                </li>
            </ul>
        </div><!-- .pmbsweb-marquee-inner -->
    </div><!-- .pmbsweb-marquee -->
</section>