<!-- Section: Services -->
<section class="backlight-bottom divider-top">
    <!-- Section Intro -->
    <div class="stg-row stg-large-gap stg-bottom-gap-l">
        <div class="stg-col-6 stg-tp-col-8 stg-tp-bottom-gap-l" data-unload="fade-left">
            <h2 data-split-appear="fade-up">Crafting Visions<span class="pmbsweb-accent">,</span> Building
                Realities<span class="pmbsweb-accent">.</span></h2>
        </div>
        <div class="stg-col-6 stg-tp-col-9 stg-tp-offset-3" data-unload="fade-right">
            <p class="pmbsweb-large-text" data-split-appear="fade-up" data-delay="100">I transform innovative ideas into
                compelling digital experiences. My portfolio showcases my passion for turning concepts into impactful
                projects that resonate with audiences and drive results<span class="pmbsweb-accent">.</span></p>
            <p data-appear="fade-up" data-delay="200">Discover how strategic design can fuel business growth. My
                portfolio is a testament to my ability to craft effective branding, engaging websites, and innovative
                marketing solutions that deliver measurable results and leave a lasting impression. Our portfolio
                include <span class="pmbsweb-accent">:</span></p>
        </div>
    </div>
    <!-- Services List -->
    <div class="pmbsweb-detailed-list-wrap" data-appear="fade-up" data-unload="fade-up">
        <ul class="pmbsweb-detailed-list">
            {{ range first 6 .Site.RegularPages }}
            <li>
                <div class="pmbsweb-detailed-list-title">
                    <h4>{{ .Title | truncate 20 }}<span class="pmbsweb-accent">.</span></h4>
                </div>
                <div class="pmbsweb-detailed-list-description">
                    <p>{{ .Params.description | truncate 150 }}<span class="pmbsweb-accent">.</span></p>
                </div>
                <div class="pmbsweb-detailed-list-button">
                    <span class="pmbsweb-icon pmbsweb-icon-explore"></span>
                </div>
                <a href="{{ .Permalink }}"></a>
            </li>
            {{ end }}
        </ul>
    </div>
    <div class="align-center stg-top-gap-l" data-appear="fade-up" data-unload="fade-up">
        <a href="../portfolio/" class="pmbsweb-button">Explore All Portfolios</a>
    </div>
</section>